/*----- Common styles start  -----*/
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-left: 50px;
    margin-right: 50px;
}
.flexible{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.fourty-area{
    width: 40%;
}
.fourty-area img{
    width: 94%;
}
.button{
    text-decoration: none;
    background-color: rgb(214, 45, 45);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: bolder;
    margin: 0px 0;
}
h2{
    font-size: 30px;
    font-weight: bolder;
}
.section-title{
    text-align: center;
}
.margin-top{
    margin-top: 50px;
}
.orange{
    color: orange;
}
/*----- Common styles end ---- */

/* Stay focused section style  */
h1{
    font-size: 40px;
}
.red-border{
    border-left: 5px solid rgb(223, 28, 28);
    padding-left: 15px;
}

/* My Mission Section style  */

.mission{
    box-shadow: 10px 10px 100px white;
    margin-left: 2%;
    margin-right: 2%;
    padding: 15px;
    border-radius: 10px;
}
#sky{
    background-color: skyblue;
}
#pink{
    background-color: thistle;
}
#yellow{
    background-color: tan;
}

/* Develop section style */

.bg-image-1{
    background-image: url(images/shapes/shape-7.png);
    background-repeat: no-repeat;
}
.bg-image-2{
    background-image: url(images/shapes/shape-2.png);
    background-repeat: no-repeat;
}

/* footer style */

.footer{
    background-color: black;
    color: white;
    text-align: center;  
}

/* Responsive mobile  */
@media only screen and (max-width:576px){
    .flexible{
        display: block;
    }
    .fourty-area{
        width: 100%;
    }
    .fourty-area img{
        width: 90%;
    }
    .mission{
        margin-bottom: 5%;
    }
    .fourty-area ,.bg-image-2 img{
        margin-top: 20px;
    }
    
    
}